include header.pug
    
        

body

    iframe(src="/public/audio/ALERT.mp3" allow="autoplay" style="display:none" id="iframeAudio") 

    audio(autoplay loop id="playAudio")
        source(src="/public/audio/ALERT.mp3") 


    if pass === 1
        script="alert(1)"
        b(id="flag")="Flag 1: PETIR{r3fl3cted_}"
        a(href="/0xdc95937f687f74f8a8a33bb79f5676914ef4b6f2" id="next-level")="Click here to go to level 2!"


    div
        p(id="puzzle")=answer
    

    div(class="images")
        img(src="/public/images/alert.png", alt="")

    form(method="POST" id="payload-form")
        input(type="text" id="payload" name="payload")
        button(type="submit" class="btn btn-warning" id="submit")="SUBMIT"

    button(class="btn btn-info hint" id="hint")="Objective"

    div(class="message")
        strong(class="alert")="ALERT!"
        strong=" YOU ARE TRAPPED IN THIS ROOM."
        br
        strong="THERE ARE THREE OBJECTIVE YOU NEED TO SOLVE TO GET THE KEY TO ESCAPE"
        br
        strong(class="warning")
            i="WARNING! DON'T TRY TO CHEAT, YOU WILL REGRET IT!"
        br
        strong(class="warning")
            i="CHANGING URL WILL NOT WORK, DON'T TRY IT." 
        strong(class="alert")=" YOU HAVE BEEN WARNED!"

script(src="https://code.jquery.com/jquery-3.6.0.js"  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous") 
script(src="/public/js/level1.js")












    