doctype html
head(lang="en")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title="ALERTTT - JANGAN NAKAL YA"


    link(rel="stylesheet", href="/public/css/lols.css")
    
    
body

    iframe(src="/public/audio/EARRAPE PROFHAR.mp3" allow="autoplay" style="display:none" id="iframeAudio") 

    audio(autoplay loop id="playAudio")
        source(src="/public/audio/EARRAPE PROFHAR.mp3") 

    iframe(src="/public/audio/RICKROLLEARRAPE.mp3" allow="autoplay" style="display:none" id="iframeAudio2") 

    audio(autoplay loop id="playAudio2")
        source(src="/public/audio/RICKROLLEARRAPE.mp3") 


    div(class="lol1")
    div(class="lol1-1")
    div(class="lol1-2")
    div(class="lol1-3")
    div(class="lol1-4")

    marquee(behavior="", direction="right" scrollamount="50" class="blink")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="left" scrollamount="50" class="blink")="NO CHEATING ALLOWED!" 
    marquee(behavior="", direction="right" scrollamount="70" class="blink")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="right" scrollamount="100" class="blink")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="left" scrollamount="40" class="blink")="NO CHEATING ALLOWED!" 
    marquee(behavior="", direction="right" scrollamount="20" class="blink")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="right" scrollamount="60" class="blink")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="left" scrollamount="60" class="blink")="NO CHEATING ALLOWED!" 
    marquee(behavior="", direction="right" scrollamount="100" class="blink")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="right" scrollamount="20")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="left" scrollamount="50")="NO CHEATING ALLOWED!" 
    marquee(behavior="", direction="right" scrollamount="100")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="right" scrollamount="50")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="left" scrollamount="80")="NO CHEATING ALLOWED!" 
    marquee(behavior="", direction="right" scrollamount="50")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="right" scrollamount="100")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="left" scrollamount="50")="NO CHEATING ALLOWED!" 
    marquee(behavior="", direction="right" scrollamount="90")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="right" scrollamount="50")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="left" scrollamount="240")="NO CHEATING ALLOWED!" 
    marquee(behavior="", direction="right" scrollamount="70")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="right" scrollamount="50")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="left" scrollamount="90")="NO CHEATING ALLOWED!" 
    marquee(behavior="", direction="right" scrollamount="50")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="right" scrollamount="80")="ALERT! ALERT! ALERT!" 
    marquee(behavior="", direction="left" scrollamount="40")="NO CHEATING ALLOWED!" 
    marquee(behavior="", direction="right" scrollamount="120")="ALERT! ALERT! ALERT!" 
        

script(src="/public/js/lol.js")
script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous") 











    